<img src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/134954763/original/06ce660077465172ff4f6e8c48eda608a57d5130/web-scrape-and-data-scrap-from-any-website.jpeg">

### Import the libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Take the necessary information

In [2]:
url_wiki = "https://es.wikipedia.org/wiki/Marat%C3%B3n"

In [3]:
response = requests.get(url_wiki)

In [6]:
soup = BeautifulSoup(response.content, "html.parser")

In [140]:
tabla = soup.find_all("table")[1]

In [179]:
tabla.find_all("tr")[1]

<tr>
<th>Ranking
</th>
<th>Tiempo
</th>
<th>Atleta
</th>
<th>País
</th>
<th>Fecha
</th>
<th>Lugar
</th></tr>

In [106]:
len(tabla.find_all("tr")[0])

4

In [45]:
tabla.find_all("tr")[2].find_all("td")[1].text.strip()

'2:01:39'

In [46]:
tabla.find_all("tr")[2].find_all("td")[2].text.strip()

'Eliud Kipchoge'

In [73]:
tabla.find_all("tr")[2].find_all("td")[3].find("a").text.strip()

'Kenia'

In [68]:
tabla.find_all("tr")[2].find_all("td")[4].text.strip()

'16 de septiembre de 2018'

In [70]:
tabla.find_all("tr")[2].find_all("td")[5].text.strip()

'Berlín'

In [189]:
rankin_marath = []
for f in tabla.find_all("tr"):
    if len(f)>10:
        fila = [e for e in f.find_all("td")]
        if len(fila) > 0:
            rank = {
                "Posicion" : fila[0].text.strip(),
                "Tiempo" : fila[1].text.strip(),
                "Nombre" : fila[2].text.strip(),
                "Pais" : fila[3].find("a").text.strip(),
                "Fecha" : fila[4].text.strip(),
                "Lugar": fila[5].text.strip()
            }

        rankin_marath.append(rank)

In [190]:
corredores = pd.DataFrame(rankin_marath)
corredores

,Posicion,Tiempo,Nombre,Pais,Fecha,Lugar
0,10,2:18:47,Catherine Ndereba,Kenia,7 de octubre de 2001,Chicago
1,1,2:01:39,Eliud Kipchoge,Kenia,16 de septiembre de 2018,Berlín
2,2,2:01:41,Kenenisa Bekele,Etiopía,29 de septiembre de 2019,Berlín
3,3,2:02:48,Birhanu Legese,Etiopía,29 de septiembre de 2019,Berlín
4,4,2:02:55,Mosinet Geremew,Etiopía,28 de abril de 2019,Londres
5,5,2:02:57,Dennis Kimetto,Kenia,28 de septiembre de 2014,Berlín
6,6,2:03:00,Lawrence Chebet,Etiopía,6 de diciembre de 2020,Valencia
7,7,2:03:13,Wilson Kipsang Kiprotich,Kenia,25 de septiembre de 2016,Berlín
8,8,2:03:16,Mule Wasihun,Etiopía,28 de abril de 2019,Londres
9,9,2:03:34,Getaneh Molla,Etiopía,25 de enero de 2019,Dubai
10,10,2:03:45,Sisay Lemma,Etiopía,29 de septiembre de 2019,Berlín
11,10,2:03:45,Sisay Lemma,Etiopía,29 de septiembre de 2019,Berlín
12,1,2:14:04,Brigid Kosgei,Kenia,13 de octubre de 2019,Chicago
13,2,2:15:25,Paula Radcliffe,Reino Unido,13 de abril de 2003,Londres
14,3,2:17:01,Mary Jepkosgei Keitany,Kenia,23 de abril de 2017,Londres
15,4,2:17:08,Ruth Chepngetich,Kenia,25 de enero de 2019,Dubai
16,5,2:17:41,Worknesh Degefa,Etiopía,25 de enero de 2019,Dubai
17,6,2:17:56,Tirunesh Dibaba,Etiopía,23 de abril de 2017,Londres
18,7,2:18:11,Gladys Cherono,Kenia,30 de septiembre de 2018,Berlín
19,8,2:18:31,Vivian Cheruiyot,Kenia,22 de abril de 2018,Londres
20,9,2:18:34,Ruti Aga,Etiopía,16 de septiembre de 2018,Berlín
21,10,2:18:47,Catherine Ndereba,Kenia,7 de octubre de 2001,Chicago

In [220]:
hombres = corredores.drop([0, 11, 12, 13, 14 , 15, 16, 17, 18, 19, 20, 21], axis = 0).set_index('Posicion')
hombres

,Tiempo,Nombre,Pais,Fecha,Lugar
Posicion,,,,,
1,2:01:39,Eliud Kipchoge,Kenia,16 de septiembre de 2018,Berlín
2,2:01:41,Kenenisa Bekele,Etiopía,29 de septiembre de 2019,Berlín
3,2:02:48,Birhanu Legese,Etiopía,29 de septiembre de 2019,Berlín
4,2:02:55,Mosinet Geremew,Etiopía,28 de abril de 2019,Londres
5,2:02:57,Dennis Kimetto,Kenia,28 de septiembre de 2014,Berlín
6,2:03:00,Lawrence Chebet,Etiopía,6 de diciembre de 2020,Valencia
7,2:03:13,Wilson Kipsang Kiprotich,Kenia,25 de septiembre de 2016,Berlín
8,2:03:16,Mule Wasihun,Etiopía,28 de abril de 2019,Londres
9,2:03:34,Getaneh Molla,Etiopía,25 de enero de 2019,Dubai
10,2:03:45,Sisay Lemma,Etiopía,29 de septiembre de 2019,Berlín

In [221]:
hombres.to_csv(".\data\marath_hombres.csv")

In [222]:
mujeres = corredores.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], axis = 0).set_index('Posicion')

mujeres

,Tiempo,Nombre,Pais,Fecha,Lugar
Posicion,,,,,
1,2:14:04,Brigid Kosgei,Kenia,13 de octubre de 2019,Chicago
2,2:15:25,Paula Radcliffe,Reino Unido,13 de abril de 2003,Londres
3,2:17:01,Mary Jepkosgei Keitany,Kenia,23 de abril de 2017,Londres
4,2:17:08,Ruth Chepngetich,Kenia,25 de enero de 2019,Dubai
5,2:17:41,Worknesh Degefa,Etiopía,25 de enero de 2019,Dubai
6,2:17:56,Tirunesh Dibaba,Etiopía,23 de abril de 2017,Londres
7,2:18:11,Gladys Cherono,Kenia,30 de septiembre de 2018,Berlín
8,2:18:31,Vivian Cheruiyot,Kenia,22 de abril de 2018,Londres
9,2:18:34,Ruti Aga,Etiopía,16 de septiembre de 2018,Berlín
10,2:18:47,Catherine Ndereba,Kenia,7 de octubre de 2001,Chicago

In [223]:
mujeres.to_csv(".\data\marath_mujeres.csv")